<md-card>
  <form action="">
    <md-input-container>
      <input type="text" mdInput placeholder="Email" [(ngModel)]="email" name="email" />
    </md-input-container>
    <md-input-container>
      <input type="password" mdInput placeholder="Password" [(ngModel)]="password" name="password" />
    </md-input-container>
    <button md-raised-button (click)="login()">Login</button>
  </form>
  <div>
    <md-chip-list>
      <md-chip color="warn" *ngFor="let error of errors">{{ error }}</md-chip>
    </md-chip-list>
  </div>
</md-card>
