<md-card>
  <form action="">
    <md-input-container>
      <input type="text" mdInput placeholder="Buscar cancion" #cancion name="email" />
    </md-input-container>
    <div>
      <button md-raised-button (click)="buscar(cancion)">Buscar</button>
    </div>
    <div>
      <div style="margin: 10px 0;" *ngFor="let c of canciones">
        <md-card color="warn">
          <md-card-title-group>
            <md-card-title>
              {{ c.nombre }}
            </md-card-title>
            <md-card-subtitle>
              {{ c.autor }}
            </md-card-subtitle>
            <img md-card-sm-image [src]="c.imagen">
          </md-card-title-group>
          <md-card-actions>
            <button md-raised-button (click)="play(c)">Play</button>
            <button md-raised-button (click)="pause(c)">Pause</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </form>
</md-card>
